name: Verify package.lock integrity

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build_and_verify:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: "24"

            - name: Install dependencies
              run: npm install

            - name: Check git diff
              run: |
                  git diff --exit-code
